body {
  margin: 0;
  padding: 0;
  background: url(https://static1.squarespace.com/static/51b3dc8ee4b051b96ceb10de/t/5b896dce898583cb3026836a/1535733333873/new-featurette-for-fantastic-beasts-the-crimes-of-grindelwald-focuses-on-returning-to-hogwarts-social.jpg?format=1500w);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
